[Desktop Entry]
Version=1.0
Type=Application
Name=Rider
Comment=.NET IDE
Exec=env RIDER_JDK={{jdk_global_jdk_directory}} {{ansible_user_dir}}/Software/rider/bin/rider.sh
Icon={{ansible_user_dir}}/Software/rider/bin/rider.png
Path=
Terminal=false
StartupNotify=true
